html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.manga-box {
  width: 100%;
  padding-top: 16px;
  font-family: arial;
  background-color: white;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.manga-box h1 {
  text-align: center;
}

.manga-box .page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
}

/* Dark Mode */

html.dark-mode {
  background-color: black;
}

.manga-box.dark-mode {
  background-color: black;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.manga-box.dark-mode h1.manga-title {
  color: white;
}

/* Styles */

.vertical-style {
  flex-direction: column;
}

.vertical-style > img {
  padding: 10px 0;
}

.double-vertical-style {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.double-vertical-style > img {
  flex: 50%;
  padding: 10px 0;
}

.horizontal-style {
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
}

.one-page-style {
  flex-direction: column;
}

.double-page-style {
  flex-direction: row-reverse;
  overflow: auto;
  justify-content: center;
}

/* Controls */

.controls {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
}

.controls.fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.controls.fixed:hover {
  visibility: visible;
  opacity: 1.0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

/* Read Style */

.style-btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: end;
}

.style-btn span {
  margin-right: 5px;
}

.read-style {
  position: relative;
  display: inline-block;
}

.name-style {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.style-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.style-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.style-content a:hover {
  background-color: #ddd;
}

.read-style:hover .style-content {
  display: block;
}

.read-style:hover .style-btn {
  background-color: #3e8e41;
  border-radius: 10px 10px 0 0;
}

/* PAGE SIZE */

.page-size {
  background-color: #04AA6D;
  position: relative;
  width: 190px;
  font-size: 16px;
  margin-left: 16px;
  border-radius: 10px;
}

#pageSize {
  text-align: center;
  width: 40%;
  height: 40px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  padding-right: 10px;
  border: 2px solid #04AA6D;
}

#pageSize::-webkit-inner-spin-button,
#pageSize::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-size span {
  position: absolute;
  right: 66%;
  top: 26%;
  font-size: 16px;
}

.page-size label {
  position: relative;
  color: white;
  font-size: 16px;
}

.page-size label i {
  position: relative;
  top: 6px;
}

.size-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* Page Number */

.page-number {
  display: none;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #04AA6D;
  height: 40px;
  font-size: 16px;
  margin-left: 16px;
  border-radius: 10px;
  padding: 0 10px;
  color: white;
}

.page-number[style*='display: block']{
  display: flex !important;
}

.page-number input.current {
  background-color: #04AA6D;
  border: none;
  color: white;
  font-size: 16px;
  width: 30px;
  margin-left: 5px;
  text-align: center;
}

#currentPage::-webkit-inner-spin-button,
#currentPage::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#currentPage:focus-visible {
  outline: none;
}

.page-number span.total {
  padding: 0 10px 0 5px;
}

.page-number span.material-icons {
  margin-right: 5px;
}

.page-number-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* Fullscreen */

.fullscreen {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #04AA6D;
  height: 40px;
  font-size: 16px;
  margin-left: 16px;
  border-radius: 10px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

.fullscreen span.exit {
  display: none;
}

.fullscreen-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* Switch Mode */

.switch-mode {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #04AA6D;
  height: 40px;
  font-size: 16px;
  margin-left: 16px;
  border-radius: 10px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

.switch-mode span.light-mode {
  display: none;
  margin-right: 5px;
}

.switch-mode span.dark-mode {
  display: block;
  margin-right: 5px;
}

.name-mode {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* PREVIOUS AND NEXT BUTTONS */

.previous-page-btn, .next-page-btn {
  display: none;
  position: fixed;
  z-index: 99;
  font-size: 32px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.previous-page-btn {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.next-page-btn {
  left: 96%;
  top: 50%;
  transform: translateY(-50%);
}

/* Carousel Pages */

.carousel-pages {
  display: flex;
  overflow-x: auto;
  position: fixed;
  width: 90%;
  height: 40px;
  z-index: 99;
  padding: 15px;
  opacity: 1;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.carousel-pages.active {
  display: flex;
  visibility: visible;
  bottom: 12px;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.carousel-pages.active:hover {
  visibility: visible;
  opacity: 1.0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.carousel-pages span {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  background-color: #3e8e41;
  color: white;
  opacity: 0.8;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  flex: none;
  -webkit-transition: background-color 2s ease-in;
  -moz-transition: background-color 2s ease-in;
  -o-transition: background-color 2s ease-in;
  -ms-transition: background-color 2s ease-in;
  transition: background-color 2s ease-in;
}

.carousel-pages span.read {
  background-color: gray;
  color: white;
  opacity: 0.8;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

/* SCROLL BUTTON */

#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scroll-top img {
  width:  20px;
}

/* Mobile (Down) */
@media only screen and (max-width: 1000px) {
  .page-size {
    width: 200px;
  }

  .previous-page-btn, .next-page-btn {
    display: none !important;
  }

  .carousel-pages.active {
    width: 87%;
    margin-left: 7px;
  }
}

/* Mobile (Up) */
@media only screen and (max-width: 600px) {
  .name-style, .size-title, .page-number-title, .fullscreen-title, .name-mode {
    display: none;
  }

  .read-style button.style-btn span, .switch-mode span, .page-number span {
    margin: 0 !important;
  }

  .page-size {
    display: none;
    width: 100px;
  }

  .page-size span {
    right: 46%;
  }

  .page-number span.current {
    text-align: center;
  }

  .page-number span.total {
    padding: 0 0 0 2px;
  }

  #pageSize {
    width: 60%;
    padding-right: 14px;
  }

  .controls.fixed {
    opacity: 1.0;
  }

  .previous-page-btn, .next-page-btn {
    display: none !important;
  }

  .double-vertical-style > img,
  .double-page-style > img {
    width: 50%;
  }

  .vertical-style > img,
  .horizontal-style > img,
  .one-page-style > img {
    width: 100%;
  }

  .carousel-pages {
    opacity: 0;
  }

  .carousel-pages.active {
    width: 72%;
    margin-left: 7px;
    opacity: 1.0;
  }

  #scroll-top {
    right: 10px;
  }
}
